// partial file is a file that is part of style, it should start with underscore (_)
//originally 1 rem is 16px 
//62.5*16 = 10px
//so 22px=2.2rem

*{
    //box-sizing: content-box; //this is default, when U specify height, only content would be 50.
    box-sizing: border-box; //when tou specify height, original box+padding+border becomes height
}

html{
    font-size: 62.5%;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    color: $dark-grey;
    line-height: 1.6;
}

button{
    cursor: pointer;
    
}

.is-active{
    background: red;
    font-weight: bold;

}